<div class="text-center">{{ section.settings.announcement_text }}</div>

{%  schema  %} 
{
    "name": "Announcement Bar",
    "settings": [
        {
            "type": "text",
            "id": "announcement_text",
            "label": "Message",
            "default":"25% OFF for US based delivery!"
        }
    ]
}
{% endschema %}
